body{
    margin: 0px;
    padding: 0px;
    background-color:black;
    background-image: url(img/anonymous.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    height: 650px;
    padding: 5px;

   
}


.logo{
    width: 100%;
    height: auto;
    float:left;
    box-sizing: border-box;
}



.left{
    float: left;
    width: 70%;
    height:42%;
    border-radius: 24px;
    box-sizing: border-box;

}

.text-input{
    float: left;
    margin-top: 15%;
    margin-left: 12%;
    width: 65%;
    height: 60%;
    color: #0a9ce1;
    font-size: 20px;
    border: none;
    outline: none;
    background-color:black;


}


.right{
    margin-top: 7%;
    float: right;
    width: 30%;
    height: 50%;
    border-radius: 24px;
    box-sizing: border-box;
   

}

.img-right{
    float: right;
    margin-top: 40%;
    margin-left: 2%;
    width: 90%;
    height: auto;

}


.text2{
    margin: 20px;
    float:left;
    margin-left: 20%;
    color:#0a9ce1;
    width: 80%;
    height: 60%;
    border-style: solid;
    border-color: #0a9ce1;
    outline: none;
    font-size: 15px;
    background-color: black
    
}


.copiar{
    font-family: monospace;
    color: #0a9ce1;
    margin-left: 43%;
    margin-top: 80%;
    padding: 10px;
    width: 40%;
    height:auto;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: #0a9ce1;
    transition: 1s background;
    cursor: pointer;
}


.copiar:hover{
    background-color: #c3ecff;
}





.left-button{
    float: left;
    width: 65%;
    height: auto;
    border-radius: 24px;
  
}

.textAdvertencia{
    margin-left: 9%;
    color: #c3ecff;
    padding: 13px;
    font-family: monospace;

}

.button-encriptar{
    font-family: monospace;
    color: #0a9ce1;
    padding: 10px;
    width: 30%;
    height: 40%;
    border-radius: 10px;
    margin-left: 12%;
    background-color: black;
    border-style:solid;
    border-color: #0a9ce1;
    transition: 1s background;
    cursor: pointer;
    
}


.button-encriptar:hover{
    background-color: #c3ecff;
}

.button-desencriptar{
    font-family: monospace;
    color: #0a9ce1;
    padding: 10px;
    width: 30%;
    height: 40%;
    border-radius: 10px;
    margin-left: 10%;
    background-color: black;
    border-style: solid;
    border-color: #0a9ce1;
    transition: 1s background;
    cursor: pointer;
}

.button-desencriptar:hover{
    background-color: #c3ecff;
}

.iconos{
    margin: 7px;
}


.icon{
    margin: 5px;
    margin-right: 5px;
  

 
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


.icon2{
    margin: 5px;
    margin-right: 9px;

  

 
}

footer{
    width: 100%;
    height: 60px;
    background-color:#0a9ce1 (39, 22, 22, 0.575) ;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
.pie {
    border-top: 1px solid #0a9ce1;
  }

.post-footer{
    margin: 5px;
    color: #0a9ce1;
    font-family: monospace;

  }



